body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

.background {
  background-image: url('https://assets-global.website-files.com/64949e4863d96e26a1da8386/64b9451865a683fd39bccfa1_5f6e93d250a6d04f4eae9f02_Backgrounds-WFU-thumbnail-(size).jpeg');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 50px);
}

.form-container {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  width: 50%;
  max-width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 20px;
}

form label {
  margin-top: 10px;
}

form input,
form select,
form textarea {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form input[type='checkbox'],
form input[type='radio'] {
  width: auto;
}

form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}

.field {
  margin-right: auto;
  margin-bottom: 10px;
}

.header {
  object-fit: cover;
  height: 50px;
  width: 100%;
  display: block;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.page-title {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.container p {
  margin: 10px 0;
}

.btn {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
  font-weight: bold;
}

.btn:hover {
  background-color: #555;
}

.response-item {
  margin: 10px 0;
  font-size: 16px;
  line-height: 1.5;
}

.response-label {
  font-weight: bold;
  margin-right: 5px;
}
